MYSQL_DSN="root:111111@tcp(127.0.0.1:3306)/likezh?charset=utf8&parseTime=True&loc=Local"
RABBITMQ_DSN="amqp://mq_user:mq_passwd@localhost:5672/virtual_host"

REDIS_ADDR="127.0.0.1:6379"
REDIS_PW=""
REDIS_DB=""

JWT_SECRET_KEY="JWT_SECRET_KEY"

GIN_MODE="debug"

QiNiu_AK="bkR0e6OoyNHfF4JL6ZD9j2aw9BNiFHrXfnzj8FJp"
QiNiu_SK="5atSfL7JFv3TMkCL6J2fM1cr2sZ3Be2-QpFMCS3b"
QiNiu_Bucket="likezh"
QiNiu_Sever="qjoo4nfyr.hd-bkt.clouddn.com"
